<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='/assets/img/favicon.ico' rel='icon' type='image/x-icon'/>
  <meta name="yandex-verification" content="485a59023b6ad4bf" />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1112138962518688"
     crossorigin="anonymous"></script>

  {% capture title %}
    {%- if page.share-title -%}
      {{ page.share-title | strip_html | xml_escape }}
    {%- elsif page.title -%}
      {{ page.title | strip_html | xml_escape  }}
    {%- else -%}
      {{ site.title | strip_html | xml_escape }}
    {%- endif -%}
  {% endcapture %}

  {% capture description %}
    {%- if page.share-description -%}
      {{ page.share-description | strip_html | xml_escape }}
    {%- elsif page.subtitle -%}
      {{ page.subtitle | strip_html | xml_escape }}
    {%- else -%}
      {%- assign excerpt_length = site.excerpt_length | default: 50 -%}
      {{ page.content | strip_html | xml_escape | truncatewords: excerpt_length | strip }}
    {%- endif -%}
  {% endcapture %}

  {% if site.mobile-theme-col %}
  <meta name="theme-color" content="{{ site.mobile-theme-col }}">
  {% endif %}

  {% if site.rss-description %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  {% endif %}

  {% seo %}

  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}
  {% include cloudflare_analytics.html %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.site-css %}
    {% for css in site.site-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}
  
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}">
  {% endif %}

  {%- capture img -%}
    {%- if page.share-img -%}
      {{ page.share-img }}
    {%- elsif page.cover-img -%}
      {%- if page.cover-img.first -%}
        {{ page.cover-img[0].first.first }}
      {%- else -%}
        {{ page.cover-img }}
      {%- endif -%}
    {%- elsif page.thumbnail-img -%}
      {{ page.thumbnail-img }}
    {%- elsif site.avatar -%}
      {{ site.avatar }}
    {% endif %}
  {%- endcapture -%}
  {%- assign img=img | strip -%}

  {% if img != "" %}
  <meta property="og:image" content="{{ img | absolute_url }}">
  {% endif %}

  {% if page.id %}
  <meta property="og:article:author" content="{{ site.author }}">
  {% else %}

  {% endif %}

  {% if img != "" and img != site.avatar %}

  {% else %}

  {% endif %}
  <meta name="twitter:site" content="@{{ site.social-network-links.twitter }}">
  <meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}">

  <meta property="twitter:description" content="{{ description }}">

  {% if img != "" %}
  <meta name="twitter:image" content="{{ img | absolute_url }}">
  {% endif %}

  {% include matomo.html %}

  {% if page.comments and site.staticman.repository and site.staticman.branch %}
  <link rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}">
  {% endif %}

  {% if page.head-extra %}
    {% for file in page.head-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}
</head>
